<!--The content below is only a placeholder and can be replaced.-->

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div style="text-align:center">
        <h1>
          Welcome to {{ title }}!
        </h1>
        <div class="searchbox">
          <input placeholder="search" [(ngModel)]="searchText">
        </div>

        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th>Image</th>
            <th>ID</th>
            <th>Name</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of totalList | filterText: searchText">
            <td><img src="{{data.avatar_url}}"></td>
            <td>{{data.id}}</td>
            <td>{{data.login}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
